<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID : {{.Artist.ID}}</title>
</head>
<body>
    <h1>{{.Artist.Name}}</h1>
    <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}">
    {{range .Artist.Members}}
    <ul>
        <li>{{.}}</li>
    </ul>
    {{end}}
    <br>
    <p>Creation Date:- {{.Artist.CreationDate}}</p>
    <p>First Album:- {{.Artist.FirstAlbum}}</p>
    {{range $location, $dates := .Relation}}
    <p>{{$location}}: {{range $dates}}{{.}}{{end}}</p>
    {{end}}
</body>
</html>